.container {
    padding: 2rem 1rem;
}

.search {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc62;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}