.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #171717;
}

.header h1 {
    font-size: 1.2rem;
    cursor: pointer;
}

.header span {
    color: #0070f3;
}

.login {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.userArea {
    display: flex;
    column-gap: 30px;
}

.logout {
    color: #e08789;
    cursor: pointer;
}

.userName {
    cursor: pointer;
}